---
---

@import "{{ site.theme }}";

$superlight: #F4F0EC;
$lucid: #EBE4D6;
$light: #DFD5BD;
$dark: #CEBD9B;
$superdark: #B6A688;
$extradark: #946d23;
$text-color: black;

.wrapper {
  width: auto;
}

section {
  width: auto;
  margin-left: 300px;
  @media print, screen and (max-width: 960px) {
    margin-left: 0;
    border: 1px solid $superdark;
  }
}

body {
  background-color: $light;
  color: $text-color;
}

.highlight {
  background-color: $lucid;
}

a {
  color: $extradark;
  &:focus,
  &:hover {
    color: $extradark;
  }
  &:focus {
    outline-color: $extradark;
    outline-width: 2px;
    outline-style: solid;
  }
}
